/6_summers.py
/area.py
/area_calculator.py
/boolean.py
/cooking_calculator.py
/data_processing.py
/dd.py
/finky_code.py
/float.py
/groceries.py
/hello.py
/hello_name.py
/power.py
/self_driving.py
/shapes.py
/strings.py
/triplets.py
/turkey.py